li{
    padding-bottom: 0.5rem;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
    color: rgba(256, 256, 256, 0.8);
  }